Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@aria414 
aria414
/
seir-portfolio
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
seir-portfolio/css/style.css
@aria414
aria414 contact with formspree v1
Latest commit 50ef04a 4 days ago
 History
 1 contributor
388 lines (341 sloc)  6.68 KB
  
/* *******************************************
****** PROJECT SETUP
******************************************* */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');


/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

body {
  font-family: var(--text);
  background-color: #E7E9EF;
}

/* *******************************************
****** PROJECT STYLES
******************************************* */
/* .container-fluid {
  padding: 0;
  margin: 0;
} */
header {
  border: 1px solid;
  padding: 15px;
  height: 57px;
}

main {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr); */
  margin: 0 auto;
}

/* *******************************************
****** GENERAL STYLES
******************************************* */
.fab{
  font-size: 1.6em;
  justify-content: space-between;
}
.fab.fa-linkedin,
.fab.fa-github-square {
  color:#0477B5;
  padding:5px;
  font-size: 2em;
}
h1 {
  font-size: 1.6em;  
  font-family: 'Nanum Myeongjo', serif;
}
h2 {
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-size: 1em;
}


.slate-text {
  color: #5c7b91;
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  line-height: 1.5;
}

footer {
  background-color: white;
  position: fixed;
  z-index: 1030;
  right: 0px;
  left: 0px;
  bottom: 0px;
  padding: 15px;
  border-top: 1px solid;
}

footer div {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

/* *******************************************
****** ABOUT ME PAGE 
******************************************* */

.experience {
  /* border: 1px solid red; */
  /* grid-row: 2 / 6; */
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.lable {
  font-size: 2.5em;
  margin: 10px 0 10px 0;
}

.exps {
  /* border: 1px solid green; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.exps article {
  background-color: white;
}

/* ----------- BC | E | GA headers ----------- */
.exps h2 {
  height:100px;
  padding: 15px 0 10px 0;
  color:white;
  font-size: 3.5em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

/* ----------- 2014 - 2020 years ----------- */
.exps span {
  font-size: .5em;
  margin-left: 5%;
  position: relative;
  bottom: 5px;
  font-weight: 400;
}

#college {
  background-color:maroon;
}
#work {
  background-color: #045EAA;
}
#boot {
  background-color: #FA4543;
}

.largedesc{
  font-size: 1.4em;
  line-height: 1.5;
  font-family: 'Nunito Sans', sans-serif;
  padding: 30px;
}
.largedesc span {
  color:#ca1212;
}

.profile {
  /* border: 2px solid darkorchid; */
  /* grid-row: 1 / 2; */
  padding: 20px;
  background-color: white;
  text-align:center;
}
.profile .largedesc{
  padding: 0;
}

.profile h2 {
  font-size: 2.5em;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
  margin-top: 10px;
}

.profile img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}


/* *******************************************
****** PROJECTS PAGE 
******************************************* */

.gallery {
  margin-top:20px;
  display: grid;
  grid-template-rows:repeat(4, 1fr);
}

.gal-item img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* *******************************************
****** CONTACT PAGE 
******************************************* */
.icon-section {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}
.icon-section h2{
  display: none;
}

.contact-icon {
  border: 1px solid palevioletred;
  text-align: center;
}
.icon-section .fas {
  font-size: 5em;

}



/* ---------------------- MOBILE MENU ---------------------- */

.fixed-top {
  /* display: none; */
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.bg-light {
  background-color:white!important;
}

.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
}

/* ---------------------- DESKTOP MENU ---------------------- */
nav {
  font-size: 26px;
  justify-content: flex-end;
}

.menu {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  display:none;
}
.menu ul {
  display: flex;
}


/* *******************************************
****** FORMS SPREE STYLE
******************************************* */


#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 1rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
