/* *******************************************
****** PROJECT SETUP
******************************************* */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');


/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

body {
  font-family: var(--text);
  background-color: #E7E9EF;
}

/* *******************************************
****** PROJECT STYLES
******************************************* */



/* *******************************************
****** GENERAL STYLES
******************************************* */
.fab{
  font-size: 1.6em;
  justify-content: space-between;
}
.fab.fa-linkedin,
.fab.fa-github-square {
  color:#0477B5;
  padding:5px;
  font-size: 2em;
}
h1 {
  font-size: 1.8em;  
  font-family: 'Nanum Myeongjo', serif;
}
h2 {
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-size: 1em;
}

header a:hover {
  text-decoration: none;
}
.slate-text {
  color: #334f63;
  font-size: 1.3em;
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
  line-height: 1.5;
}

.activelink {
  color: #ca1212;
}
footer {
  background-color: white;
  position: fixed;
  z-index: 1030;
  right: 0px;
  left: 0px;
  bottom: 0px;
  padding: 15px;
  border-top: 1px solid;
}

footer div {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

/* *******************************************
****** ABOUT ME PAGE 
******************************************* */
.about {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr); */
  margin: 0 auto;
}

.bgwhte{
  background-color: white;
  height: 870px;
  margin-top: -5px;
}

.experience {
  /* border: 1px solid red; */
  /* grid-row: 2 / 6; */
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.lable {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2.3em;
  margin: 10px 0 10px 0;
}

.exps {
  /* border: 1px solid green; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.exps article {
  background-color: white;
}

/* -------------- EXPERIENCES  ------------- */
#college {
  background-color:maroon;
}
#work {
  background-color: #045EAA;
}
#boot {
  background-color: #FA4543;
}
#college img, #work img, #boot img {
  display: none;
}
/* ----------- BC | E | GA headers ----------- */
.exps div{
  height: 100px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exps h2 {
  color: white;
  font-size: 3.5em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}
/* ----------- 2014 - 2020 years ----------- */
.exps h3 {
  color: white;
  font-weight: 400;
  font-size: 2em;
  margin-left: 3%;
}


.largedesc{
  font-size: 1.3em;
  line-height: 1.5;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  padding: 30px;
}
.largedesc span {
  color:#ca1212;
}
/* ----------- ABOUT ME PROFILE PIC ----------- */
.profile {
  /* border: 2px solid darkorchid; */
  /* grid-row: 1 / 2; */
  padding: 20px;
  background-color: white;
  text-align:center;
}

.profile .largedesc{
  padding: 0;
}

.profile h2 {
  font-size: 2.2em;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
  margin-top: 10px;
  line-height: 1.6;
}

.profile img{
  max-width: 400px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}


/* *******************************************
****** PROJECTS PAGE 
******************************************* */
.project{
  margin: 80px 0 80px 0;

}
.gallery {
  margin-top:20px;
}

.gal-item{
  background-color:white;
  /* min-height: 800px; */
  height: auto;
  position: relative;
  padding-bottom: 50px;
}

.gal-item h2 {
  padding:4%;
}

.gal-item img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: 0px 2px 5px #cacaca;
  margin-bottom: 3%;
}

.gallery div {
  text-align: center;
  padding-bottom: 15px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;

}

.gal-item button:first-child{
  margin-right: 10px;
}
.gal-item button:nth-child(2){
  margin-left: 10px;
}

.code-btn {
  width: 100px;
  height: 50px;
  background-color: #e7e9ef;
  font-size: 1.3em;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  border: 1px solid white;
  border-radius: 5px;
}

.code-btn a{
  color: #334f63;
  text-decoration: none;
}

/* *******************************************
****** CONTACT PAGE 
******************************************* */
.contact {
  margin-top: 57px;
  padding-top: 20px;
}
.eform{
  background-color: #e4e4e4;
  padding: 2%;
  font-family: 'Nunito Sans', sans-serif;
  max-width: 750px;
  height: 600px;
}
.icon-section {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  padding:10px;
}
.icon-section h2{
  display: none;
  
}
.contact-icon {
  text-align: center;
}
.icon-section .fas {
  font-size: 5em;
}
.fa-phone,
.fa-envelope,
.fa-comment-dots,
.fa-map-marker-alt {
  color: #00a08b;
}

/* *******************************************
****** MOBILE MENU
******************************************* */
.menu {
  display:none;
}

.fixed-top {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.bg-light {
  background-color:white!important;
}

.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
}

/* *******************************************
****** TABLET VIEW 
******************************************* */

@media screen and (min-width: 768px) {
  /*-------------- PROJECTS PAGE ----------- */
  .project {
    max-width: 768px;
    margin: 80px auto 80px auto;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
  }
/*-------------- CONTACT PAGE ----------- */
.icon-section h2{
  padding:5px;
  display: block;
}


}
/* *******************************************
****** DESKTOP VIEW 
******************************************* */
@media screen and (min-width: 1024px) {

/*-------------- MENU ----------- */
  .fixed-top {
    display: none;
  }

  header {
    border-bottom: 1px solid gray;
    padding: 30px;
    height: 100px;
    background-color: white;
  }

  nav {
    font-size: 26px;
    justify-content: flex-end;
  }

  .menu {
    max-width: 1440px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .menu ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
/*--------------ABOUT MAIN CONTENT ----------- */
  .about {
    max-width: 1440px;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .profile {
    padding: 20px;
    text-align: center;
    grid-column: 3 / 4;
    margin-left: 10%;
    height: 340px;
  }
  .profile img {
    /* get rid of the 400px previously set by max width for mobile */
    max-width: 100%; 
    margin-bottom: 30px;
  }
  .experience {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 3%;
  }
  .exps {
    grid-row: 2 / 4;
    display: flex;
    grid-gap: 20px;
  }

  .exps article {
    width:33%;
  }

  .exps div {
    display: block;
    padding:0;
    height: 150px;
  }
  .exps h2 {
    display:none;
  }
  .exps h3 {
    display:block;
    color:black;
    text-align: center;
    margin-bottom: 25px;
  }

  #college, #work, #boot {
    background-color: white;
  }

  #college img, #work img, #boot img {
    display: block;
    width:40%;
    height: 100px;
    object-fit: cover;
    margin-left: 30%;
    margin-bottom: 25px;
  }
/*--------------PROJECTS MAIN CONTENT ----------- */

  .project{
    max-width: 1440px;
    margin:0 auto 100px auto;
  }
  .gallery {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
  }
/*--------------CONTACT PAGE ----------- */
  .contact {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
  }
  .icon-section {  
    display: block;
  }
  .contact-icon {
    padding: 2%;
  }

}


/* *******************************************
****** FORMS SPREE STYLE
******************************************* */


#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 1.1rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin: 0 auto;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

